<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!--    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">-->
    <!--    <link href="../../static/css/style.css" rel="stylesheet">-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" rel="stylesheet"/>

    <!--    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">-->
    <!--    <link th:href="@{/resources/css/style.css}" rel="stylesheet">-->
    <title th:text="${title}"></title>
</head>

<body>

<nav th:fragment="nav-bar" class="navbar navbar-expand-sm navbar-light bg-light mb-3">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/static}">
                        <i class="fas fa-home"></i>Home</a>
                </li>
            </ul>
            <div class="container-fluid">
                <form th:action="@{/search}" th:method="get" class="d-flex justify-content-center">
                    <input class="form-control me-2" type="search" name="search-query" required
                           placeholder="Search for files"
                           aria-label="Search"
                           pattern=".*\S+.*"
                           title="">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
            <div class="dropdown navbar-nav">
                <a class="dropdown-toggle nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <i class="fas fa-user-circle"></i> <span th:text="${user.username}"></span></a>
                <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/auth/logout}">
                        <i class="fas fa-sign-out-alt"></i>Log out</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row m-sm-3">
        <div class="col-2 left-pane d-none d-sm-block d-flex flex-grow-1 flex-column flex-shrink-2">
            <!-- TODO: insert icons for buttons aligned to the left-->
            <div class="row pb-0">
                <input type="file" class="d-none" id="file-upload" multiple required/>
                <button type="button" class="btn btn-primary" id="upload-btn" data-req-path="files">Upload</button>
            </div>
            <div class="row">
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#mkdir-modal">
                    Create folder
                </button>
            </div>
        </div>

        <div class="col-8 main-box pt-0 pb-0">
            <div class="files-box ps-4">
                <div class="row p-0 m-0">
                    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" th:unless="${breadcrumb.curDir.isBlank()}"
                                th:each="part : ${breadcrumb.pathItems}">
                                <a th:href="@{/(path=${part.value})}" th:text="${part.key}">Home</a>
                            </li>
                            <li class="breadcrumb-item active " aria-current="page"
                                th:text="${breadcrumb.curDir.isBlank()} ? Home : ${breadcrumb.curDir}">Folder
                            </li>
                        </ol>
                    </nav>
                </div>

                <div class="row pt-0">
                    <ul class="list-group">
                        <li class="list-group-item d-flex" th:each="obj : ${userObjects}">
                            <div th:if="${obj.dir}" class="flex-grow-1">
                                <a th:href="@{/(path=${path}+'/'+${obj.objName})}">
                                    <img th:src="@{/icons/folder.svg}" alt="Folder icon">
                                    <span th:text=" ${obj.objName}">Object name</span>
                                </a>
                            </div>
                            <div th:unless="${obj.dir}" class="flex-grow-1">
                                <img  th:src="@{/icons/file.svg}" alt="File icon">
                                <span th:text=" ${obj.objName}">Object name</span>
                            </div>

                            <!-- TODO: reimplement th:method with JS Fetch API ?-->
                            <div class="file-act-btn">
                                <form th:action="@{/files}" th:object="${downloadDto}" th:method="get">
                                    <input type="hidden" name="path" th:value="${path}"/>
                                    <input type="hidden" name="objName" th:value="${obj.objName}"/>
                                    <input type="hidden" name="dir" th:value="${obj.dir}"/>
                                    <button type="submit" class="btn btn-light"><i class="bi bi-download"></i></button>
                                </form>
                            </div>
                            <div class="file-act-btn">
                                <button type="button" class="btn btn-light" data-bs-toggle="modal"
                                        data-bs-target="#rename-modal" th:data-obj-name="${obj.objName}">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                                <!--                                <form th:action="@{/files}" th:object="${renameDto}" th:method="patch">-->
                                <!--                                    <input type="hidden" name="path" th:value="${path}"/>-->
                                <!--                                    <input type="hidden" name="objName" th:value="${obj.objName}"/>-->
                                <!--                                    &lt;!&ndash; TODO: modal &ndash;&gt;-->
                                <!--                                    <input type="hidden" name="newObjName" th:value="NEW_OBJ_NAME"/>-->
                                <!--                                    <button type="submit"><i class="bi bi-pencil-square"></i></button>-->
                                <!--                                </form>-->
                            </div>
                            <div class="file-act-btn">
                                <form th:action="@{/files}" th:object="${deleteDto}" th:method="delete">
                                    <input type="hidden" name="path" th:value="${path}"/>
                                    <input type="hidden" name="objName" th:value="${obj.objName}"/>
                                    <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                                </form>
                            </div>
                        </li>
                        <!-- TODO: Create pagination-->

                    </ul>
                </div>
            </div>

            <div class="dropzone-div">
                <form th:action="@{/files}" th:method="post" class="dropzone" id="my-dropzone">
                    <input type="hidden" name="path" th:value="${path}">
                </form>
            </div>
        </div>

    </div>

</div>


<!-- Modal create folder -->
<div class="modal fade" id="mkdir-modal" tabindex="-1" aria-labelledby="mkdir-modal-label" aria-hidden="true">
    <div class="modal-dialog .modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="mkdir-modal-label">Create folder</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="mk-dir-name">Enter name</label>
                <input type="text" id="mk-dir-name">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="mkDir(this)"
                        data-req-path="files/create">Create
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Modal rename object -->
<div class="modal fade" id="rename-modal" tabindex="-1" aria-labelledby="rename-modal-label" aria-hidden="true">
    <div class="modal-dialog .modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="rename-modal-label">Rename</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="new-obj-name">New name</label>
                <input type="text" id="new-obj-name">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="renameObj(this)"
                        data-req-path="files" data-obj-name="">Ok
                </button>
            </div>
        </div>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>

<!-- Modal success info -->
<div class="modal fade" id="success-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog .modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="success-modal-label">Info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                        <use xlink:href="#check-circle-fill"/>
                    </svg>
                    <div class="alert-text">
                        An example success alert with an icon
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal error info-->
<div class="modal fade" id="error-modal" tabindex="-1" aria-labelledby="error-modal-label" aria-hidden="true">
    <div class="modal-dialog .modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="error-modal-label">Info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                        <use xlink:href="#exclamation-triangle-fill"/>
                    </svg>
                    <div class="alert-text">
                        An example danger alert with an icon
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<!--<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>-->
<!--<script src="../../static/js/bootstrap.bundle.min.js"></script>-->
<!--<script src="../../static/js/drag_handling.js"></script>-->
<!--<script src="../../static/js/script.js"></script>-->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/drag_handling.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>