<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!--    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">-->
    <!--    <link href="../../static/css/style.css" rel="stylesheet">-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" rel="stylesheet"/>

    <!--    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">-->
    <!--    <link th:href="@{/resources/css/style.css}" rel="stylesheet">-->
</head>


<nav th:fragment="nav-bar" class="navbar navbar-expand-sm navbar-light bg-light mb-3">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">
                        <i class="fas fa-home"></i>Home</a>
                </li>
            </ul>
            <div class="container-fluid">
                <form th:action="@{/search}" th:method="get" class="d-flex justify-content-center">
                    <input class="form-control me-2" type="search" name="query" required
                           th:value="${query}"
                           placeholder="Search for files"
                           aria-label="Search"
                           th:pattern="${searchPattern}"
                           title="">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
            <div class="dropdown navbar-nav">
                <a class="dropdown-toggle nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <i class="fas fa-user-circle"></i> <span th:text="${user.username}"></span></a>
                <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/auth/logout}">
                        <i class="fas fa-sign-out-alt"></i>Log out</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>



<div class="container-fluid">
    <div class="row m-sm-3">
        <div class="col-8 main-box pt-0 pb-0">
            <div class="files-box ps-4">
                <div class="row pt-0">
                    <ul class="list-group">
                        <li class="list-group-item d-flex" th:each="breadcrumb : ${breadcrumbs}">
                            <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
                                <ol class="breadcrumb mb-2 mt-2">
                                    <li class="breadcrumb-item" th:unless="${breadcrumb.curDir.isBlank()}"
                                        th:each="part : ${breadcrumb.pathItems}">
                                        <a th:href="@{/(path=${part.value})}" th:text="${part.key}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active " aria-current="page"
                                        th:text="${breadcrumb.curDir.isBlank()} ? Home : ${breadcrumb.curDir}">Folder
                                    </li>
                                </ol>
                            </nav>
<!--                            <div class="flex-grow-1">-->
<!--                                <a th:href="@{/(path=${obj.path})}" th:text="${obj.path}+'/'">Link to folder</a>-->
<!--                                <span th:text=" ${obj.objName}">Object name</span>-->
<!--                            </div>-->
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>



<!--<script src="../static/js/bootstrap.bundle.min.js"></script>-->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>