<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head ('Welcome')}"></head>

<body>

<div class="container justify-content-center header position-absolute top-50 start-50 translate-middle">
    <div class="row mb-3">
        <h1 class="text-center display-1">Cloud-Keeper</h1>
        <span class="text-center">The best cloud storage ever (maybe)</span>
    </div>
    <div class="row btn-row container justify-content-center mb-5">
        <div class="col d-flex justify-content-center justify-content-md-end me-2">
            <a th:href="@{/auth/login}" class="btn btn-outline-secondary btn-huge" role="button">Log in</a>
        </div>
        <div class="col d-flex justify-content-center justify-content-md-start ms-2">
            <a th:href="@{/auth/register}" class="btn btn-primary btn-huge" role="button">Register</a>
        </div>
    </div>
</div>


<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
